@font-face {
  font-family: 'Lato';
  src: url('../fonts/lato/lato-black.eot');
  src: url('../fonts/lato/lato-black.eot?#iefix') format('embedded-opentype'), url('../fonts/lato/lato-black.woff') format('woff'), url('../fonts/lato/lato-black.ttf') format('truetype'), url('../fonts/lato/lato-black.svg#latoblack') format('svg');
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: 'Lato';
  src: url('../fonts/lato/lato-bold.eot');
  src: url('../fonts/lato/lato-bold.eot?#iefix') format('embedded-opentype'), url('../fonts/lato/lato-bold.woff') format('woff'), url('../fonts/lato/lato-bold.ttf') format('truetype'), url('../fonts/lato/lato-bold.svg#latobold') format('svg');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Lato';
  src: url('../fonts/lato/lato-bolditalic.eot');
  src: url('../fonts/lato/lato-bolditalic.eot?#iefix') format('embedded-opentype'), url('../fonts/lato/lato-bolditalic.woff') format('woff'), url('../fonts/lato/lato-bolditalic.ttf') format('truetype'), url('../fonts/lato/lato-bolditalic.svg#latobold-italic') format('svg');
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: 'Lato';
  src: url('../fonts/lato/lato-italic.eot');
  src: url('../fonts/lato/lato-italic.eot?#iefix') format('embedded-opentype'), url('../fonts/lato/lato-italic.woff') format('woff'), url('../fonts/lato/lato-italic.ttf') format('truetype'), url('../fonts/lato/lato-italic.svg#latoitalic') format('svg');
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: 'Lato';
  src: url('../fonts/lato/lato-light.eot');
  src: url('../fonts/lato/lato-light.eot?#iefix') format('embedded-opentype'), url('../fonts/lato/lato-light.woff') format('woff'), url('../fonts/lato/lato-light.ttf') format('truetype'), url('../fonts/lato/lato-light.svg#latolight') format('svg');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Lato';
  src: url('../fonts/lato/lato-regular.eot');
  src: url('../fonts/lato/lato-regular.eot?#iefix') format('embedded-opentype'), url('../fonts/lato/lato-regular.woff') format('woff'), url('../fonts/lato/lato-regular.ttf') format('truetype'), url('../fonts/lato/lato-regular.svg#latoregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Flat-UI-Icons";
  src: url('../fonts/flat-ui-icons-regular.eot');
  src: url('../fonts/flat-ui-icons-regular.eot?#iefix') format('embedded-opentype'), url('../fonts/flat-ui-icons-regular.woff') format('woff'), url('../fonts/flat-ui-icons-regular.ttf') format('truetype'), url('../fonts/flat-ui-icons-regular.svg#flat-ui-icons-regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: "Lato", Helvetica, Arial, sans-serif;
  font-size: 18px;
  line-height: 1.7;
  background-color: #f7f5f2;
}

html, body {
  overflow-x: hidden;
  height: 100%;
  margin: 0px;
  padding: 0px;
  width: 100%;
}

h1, h2, h3, h4, h5 {
  margin: 0.5rem 0; }

h1 {
  margin-bottom: 2rem; }

h2 {
  color: #333; }

.navbar {
  font-size: 16px;
  font-weight: lighter;
  min-height: 53px;
  border-radius: 0px;
  background-color: #2e3133;
  margin: 0;
}

.navbar li {
  padding: 10px;
}

.navbar a,
.dropdown-menu > li > a {
  color: #FFF;
}

.navbar a:hover,
.navbar a:focus,
.dropdown-menu > li > a:hover,
.dropdown-menu > li >a:focus {
  text-decoration: none;
  color: #88d4c1;
  background-color: transparent;
}

.dropdown-menu {
  background-color: #2e3133;
  border-color: #2e3133;
}

.navbar-collapse {
  box-shadow: none;
  padding-right: 21px;
  padding-left: 21px;
}
@media (min-width: 768px) {
  .navbar-collapse .navbar-nav.navbar-left:first-child {
    margin-left: -21px;
  }
  .navbar-collapse .navbar-nav.navbar-left:first-child > li:first-child a {
    border-bottom-left-radius: 6px;
    border-top-left-radius: 6px;
  }
  .navbar-collapse .navbar-nav.navbar-right:last-child {
    margin-right: -21px;
  }
  .navbar > .container .navbar-collapse .navbar-nav.navbar-right:last-child {
    margin-right: -36px;
  }
  .navbar-collapse .navbar-nav.navbar-right:last-child > .dropdown:last-child > a {
    border-radius: 0 6px 6px 0;
  }
  .navbar-collapse .navbar-form.navbar-right:last-child {
    margin-right: -17px;
  }
  .navbar-fixed-top .navbar-collapse .navbar-form.navbar-right:last-child,
  .navbar-fixed-bottom .navbar-collapse .navbar-form.navbar-right:last-child {
    margin-right: 0;
  }
}
@media (max-width: 767px) {
  .navbar-collapse .navbar-nav.navbar-right:last-child {
    margin-bottom: 3px;
  }
}

#map-canvas {
  margin: 0 auto;
  width: 100%;
  height: 400px;
}

#battle-info {
  background-color: white;
  z-index: 9999;
  position: absolute;
  right: 30px;
  top: 30px;
}
.wrapper {
  width: 95%;
  margin: 20px auto;
}

.modal-inner-wrap {
  padding: 2rem;
}

#battle-link-wrapper {
  display: inline;
}

.person-image {
  max-width: 250px;
}

.details-heading {
  margin: 40px 0 20px;
}

.faction {
  margin-top: 10px;
}

.persons-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.centered-text {
  text-align: center;
}

footer {
  background-color: #2e3133;
  width: 100%;
  height: 150px;
  color: #FFF;
  font-weight: lighter;
  font-size: 14px;
}

.footer-nav {
  width: 70%;
  margin: 10px auto;
}

/* Twitter API Section Styles */
.twitter-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flext-start;
  width: 100%;
  font-size: 14px;
}

.comment_section_wrapper,
.hashtag_section_wrapper {
  width: 40%;
  height: 500px;
  margin: 0 5px 30px 5px;
  padding: 20px;
  overflow-y: scroll;
}

.comment_section_wrapper a:hover,
.hashtag_section_wrapper a:hover,
.comment_section_wrapper a:focus,
.hashtag_section_wrapper a:focus {
  color: #88d4c1;
}

.comment_list {
  margin: 0 auto;
  padding: 0;
}

.comment_list li {
  list-style-type: none;
  margin: 15px 0;
}

.comment_count {
  height: 30px;
  border-bottom: 1px solid #ddd;
}

.comment_avatar {
  float: left;
  width: 40px;
}

.comment_content_wrapper {
  margin-left: 50px;
}

.comment_user_info p {
  margin: 10px 0;
}

.comment_date {
  color: #999;
  font-size: 12px;
}

.form_wrapper {
  text-align: center;
  width: 94%;
  padding-top: 15px;
}

.comment_field {
  width: 100%;
}

.current_user_wrapper {
  float: left;
  margin-left: 10px;
}

.current_user_avatar {
  vertical-align: middle;
}

.current_user_name {
  margin: 0;
}

.submit {
  float: right;
  margin-right: 15px;
}

.btn {
  border: none;
  font-size: 15px;
  font-weight: normal;
  line-height: 1.4;
  border-radius: 4px;
  padding: 10px 20px;
  cursor: pointer;
  -webkit-transition: border .25s linear, color .25s linear, background-color .25s linear;
  transition: border .25s linear, color .25s linear, background-color .25s linear;
  color: #ffffff;
  background-color: #63c6ae;
}

.btn:hover, .btn:focus, .btn:active {
  color: #ffffff;
  background-color: #50bfa4;
  border-color: #50bfa4;
}

.btn-embossed {
  -webkit-box-shadow: inset 0 -2px 0 rgba(0, 0, 0, 0.15);
  box-shadow: inset 0 -2px 0 rgba(0, 0, 0, 0.15);
}


/*Clearfix */
.cf:before,
.cf:after {
  content: " "; /* 1 */
  display: table; /* 2 */
}

.cf:after {
  clear: both;
}
